<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="m-2" width="50" src="../../../../assets/img/Logo final.png" alt="LLA">
            <h4 class="card-title text-center text-purple">Portal Especialistas</h4>

        </div>
        <hr>
        <p class="mb-2 text-secondary text-center">Sitio web para administración de portal de clientes.</p>
        <div class="d-flex flex-column justify-content-center align-items-center p-2">
            <small class="mb-2">Menú</small>
            <a class="btn btn-purple btn-block btn-sm" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Home</a>
            <a class="btn btn-purple btn-block btn-sm" [routerLink]="['/admin/users']" routerLinkActive="router-link-active" >Usuarios</a>
            <a class="btn btn-purple btn-block btn-sm" [routerLink]="['/admin/access']" routerLinkActive="router-link-active" >Accesos</a>
            <a class="btn btn-purple btn-block btn-sm" [routerLink]="['/admin/mdc']" routerLinkActive="router-link-active" >M. de comunicación</a>
        </div>
         
      </div>
</div>