<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-tools display-4 m-2 text-info"></i>
            <h4 class="card-title text-center">Portal Especialistas</h4>

        </div>
        <hr>
        <p class="mb-2 text-secondary text-center">Sitio web para administración de portal de clientes.</p>
        <div class="d-flex flex-column justify-content-center align-items-center p-2">
            <small class="mb-2">Menú</small>
            <a class="btn btn-outline-info btn-block btn-sm" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Home</a>
            <a class="btn btn-outline-info btn-block btn-sm" [routerLink]="['/admin/access']" routerLinkActive="router-link-active" >Accesos</a>
            <a class="btn btn-outline-info btn-block btn-sm" [routerLink]="['/admin/access']" routerLinkActive="router-link-active" >Códigos QR</a>
        </div>
         
      </div>
</div>