<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title text-center">Portal Especialistas</h4>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted text-center">Sitio web para administración de portal de clientes.</h6>
        <p class="card-text text-justify">Consulte o publique ofertas de sus productos en este mercado online.</p>
        <ul>
            <li><a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Home</a></li>
            <li><a [routerLink]="['/admin/access']" routerLinkActive="router-link-active" >Accesos</a></li>
            <li><a [routerLink]="['/admin/access']" routerLinkActive="router-link-active" >Códigos QR</a></li>
        </ul>
        <!-- <p *ngIf="!authService.isLogedIn()" align="center" class="m-0">[ <a [routerLink]="['/forms/login']" TARGET="_top">Iniciar sesión</a> ]</p> -->
         
      </div>
</div>