<div class="row">
    <div class="col-6 px-0 py-1">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-purple text-light active">
                <input type="radio" autocomplete="off" (click)="aprobados()" checked>Aprobados <i class="fas fa-user-check"></i> 
            </label>
            <label class="btn btn-purple text-light">
                <input type="radio" autocomplete="off" (click)="noAprobados()"><i class="fas fa-user-clock"></i> En trámite
            </label>
        </div>
    </div>
    <!-- <div class="col-6 d-flex justify-content-end px-0 py-1">
        <button type="button" class="btn btn-warning text-secondary"><i class="fas fa-pen-alt"></i> Tramitar acceso</button>
    </div> -->
</div>