@import '../../../../assets/styles/general.css';

.btn-purple {
    background-color: var(--btn-default);
}.btn-purple:active {
    background-color: var(--angular-color-purple);
}.btn-purple:hover{
    background-color: var(--btn-hover);
}

.active {
    background-color: var(--angular-color-purple)!important;
}