@import '../../../../assets/styles/general.css';

.text-purple {
  color: var(--angular-color-purple);
}

.cwb-background {
    background-color: var(--cwb-color-purple);
}

/* TABLA DETALLES  */
.tabla-detalles {
    border-collapse: collapse;
    width: 100%;
}
  
.tabla-detalles-th, .tabla-detalles-td {
    border: none;
    text-align: left;
    padding: 8px;
}
  
.tabla-detalles-tr:nth-child(even){background-color: #f2f2f2} 
  
.tabla-detalles-th {
    background-color: #8970a8;
}

.bgred {
    background-color: red;
}

/* TABLA PERMISOS  */
.container-tabla-matriz table{
    width: 100%;
    border: 1px solid #E6E6E6;
    margin: 1% 0;
} 

.container-tabla-matriz tr,th,td{
    border: 1px solid #E6E6E6;
    text-align: center;
    padding: .5%;
}

.table-font {
    font-size: .8rem;
}

@media only screen and (max-width: 600px) { 
    .table-font {
        font-size: .5rem;
    }
}
@media only screen and (max-width: 768px) { 
    .table-font {
        font-size: .6rem;
    }
    
}