
<div class="row">
    <div class="card">
        <div class="card-body">
                
            <div class="d-flex">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../../../../assets/img/cwb_logo.png" width="175" alt="cwb.logo">
                </div>
                
                <div>
                    <div class="d-flex flex-column container-titulo align-items-center justify-content-center">
                        <h5 class="lead">International Data Center</h5>
                        <h5 class="lead">Control de Registro</h5>
                        <h5 class="lead">Matriz de comunicación</h5>
                    </div>
                    <div class="container-descripcion text-secondary text-center">
                        <p>Sección de matriz de comunicación. Muestra el listado de personal de la empresa <b>{{nombreEmpresa}}</b> y los privilegios asociados para solicitar
                            Editar, o eliminar accesos, o solicitar manos remotas.</p>
                    </div>
                </div>
                   
            </div>

            <div class="row">
                <!-- LISTADO DE PROYECTOS  -->
                <div class="col-7">
                    <app-proyectos *ngIf="userroll === 1" (emitirProyecto)="getProyecto($event)"></app-proyectos>
                    
                    <div *ngIf="userroll === 2" class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-purple"><i class="fas fa-angle-down mr-1"></i> Listado</span>
                        </div>
                        <select #test class="form-control text-secondary" (change)="onChangeProyecto($event)">
                            <option value="" disabled selected>Seleccione uno de sus proyectos</option>
                            <option *ngFor="let proyecto of proyectos" value="{{proyecto | json}}">{{proyecto.nombre_empresa}} - LOC{{proyecto.loc}} - {{proyecto.datacenter}}</option>    
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="col-5">
                            <h6 class="text-purple"><b>Fecha matriz:</b></h6>

                        </div>
                        <div class="col-7">

                            <select class="form-control form-control-sm"  id="version" (change)="getVersion($event)">
                                <option *ngFor="let version of versionesMatriz" value="{{version.version}}">{{version.version | date:'yyyy/MM/dd'}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 card">
        <div class="d-flex flex-column my-2">
            <div class="text-center cwb-background text-light p-1">
                Datos del solicitante
            </div>
            <div class="d-flex">
                <div class="col-2 border text-secondary text-center"><b>Compañía</b></div>
                <div class="col-10 border"><p class="m-0 text-secondary">{{nombreEmpresa}}</p></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 card">
        <div class="card-body">
                
            <div class="row">
                <h6 class="text-secondary mt-2">Detalle del personal:</h6>
                <table class="tabla-detalles text-secondary">
                    <tr class="cwb-background text-light">
                        <th class="p-1">Nombre</th>
                        <th class="p-1">Cargo</th>
                        <th class="p-1">Teléfono</th>
                        <th class="p-1">Celular</th>
                        <th class="p-1">Email</th>
                    </tr>
                    <tr [hidden]="!showSpinner">
                        <!-- SPINNER  -->
                        <td colspan="5">
                            <div  class="spinner-border text-purple" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    <tr [hidden]="showSpinner" *ngFor="let usuario of usuarios" class="tabla-detalles-tr">
                        <td class="tabla-detalles-td">{{usuario.nombre}} {{usuario.apellido}}</td>
                        <td class="tabla-detalles-td">{{usuario.cargo}}</td>
                        <td class="tabla-detalles-td">{{usuario.telefono}}</td>
                        <td class="tabla-detalles-td">{{usuario.celular}}</td>
                        <td class="tabla-detalles-td">{{usuario.correo}}</td>
                    </tr>
                        
                </table>
            </div>

            <!-- <div class="container-enlaces">
                <hr>
                <a class="agregar-link" *ngIf="editar_matriz" [routerLink]="['/matrizadd']">Agregar personal <i class="fas fa-plus"></i></a>
            </div> -->


            <div class="row mt-2">

                <table class="table table-striped table-font">
                    <thead class="text-secondary text-center">
                      <tr>
                        <th class="align-middle" rowspan="2">Nombre</th>
                        <th colspan="3">Solicitud de permiso</th>
                        <th class="align-middle" rowspan="2">Manos remotas *</th>
                        <th colspan="3">Notificación de alertas</th>
                        <th class="align-middle" rowspan="2">Edit. Matriz</th>
                        <th class="align-middle" rowspan="2">Fecha Matriz</th>
                      </tr>
                      <tr>
                        <th>Solicitar</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
            
                        <th>Baja</th>
                        <th>Media</th>
                        <th>Alta</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr [hidden]="!showSpinner">
                            <!-- SPINNER  -->
                            <td colspan="10">
                                <div class="spinner-border text-purple" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </td>
                        </tr>
                        <tr [hidden]="showSpinner" *ngFor="let usuario of usuarios">
                            <th class="text-purple">{{usuario.nombre}} {{usuario.apellido}} <a class="edit-link"  [routerLink]="['/editar',usuario.version,usuario.idproyecto,usuario.idusuario]">Editar <i class="far fa-edit"></i></a></th>
                            <td>
                                <input *ngIf="usuario.solicitar_acceso" type="checkbox" value="{{usuario.solicitar_acceso}}" checked disabled>
                                <input *ngIf="!usuario.solicitar_acceso" type="checkbox" value="{{usuario.solicitar_acceso}}" disabled>
                            </td>
                            <td>
                                <input *ngIf="usuario.actualizar_acceso" type="checkbox" value="{{usuario.actualizar_acceso}}" checked disabled>
                                <input *ngIf="!usuario.actualizar_acceso" type="checkbox" value="{{usuario.actualizar_acceso}}" disabled>
                            </td>
                            <td>
                                <input *ngIf="usuario.eliminar_acceso" type="checkbox" value="{{usuario.eliminar_acceso}}" checked disabled>
                                <input *ngIf="!usuario.eliminar_acceso" type="checkbox" value="{{usuario.eliminar_acceso}}" disabled>
                            </td>
                            <td>
                                <input *ngIf="usuario.manos_remotas" type="checkbox" value="{{usuario.manos_remotas}}" checked disabled>
                                <input *ngIf="!usuario.manos_remotas" type="checkbox" value="{{usuario.manos_remotas}}" disabled>
                            </td>
                            <td>
                                <input *ngIf="usuario.alertas_baja" type="checkbox" value="{{usuario.alertas_baja}}" checked disabled>
                                <input *ngIf="!usuario.alertas_baja" type="checkbox" value="{{usuario.alertas_baja}}" disabled>
                            </td>
                            <td>
                                <input *ngIf="usuario.alertas_media" type="checkbox" value="{{usuario.alertas_media}}" checked disabled>
                                <input *ngIf="!usuario.alertas_media" type="checkbox" value="{{usuario.alertas_media}}" disabled>
                            </td>
                            <td>
                                <input *ngIf="usuario.alertas_alta" type="checkbox" value="{{usuario.alertas_alta}}" checked disabled>
                                <input *ngIf="!usuario.alertas_alta" type="checkbox" value="{{usuario.alertas_alta}}" disabled>
                            </td>
                            <td>
                                <h5 *ngIf="usuario.editar_matriz" class="text-danger">SI</h5>
                                <h5 *ngIf="!usuario.editar_matriz">NO</h5>
                                <!-- <input *ngIf="usuario.editar_matriz" type="checkbox" value="{{usuario.editar_matriz}}" checked disabled>
                                <input *ngIf="!usuario.editar_matriz" type="checkbox" value="{{usuario.editar_matriz}}" disabled> -->
                            </td>
                            <td>
                                <a class="btn btn-link" (click)="redirect(usuario.link_formulario)">{{usuario.version | date:'yyyy/MM/dd'}}</a>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>

        </div>
    </div>
</div>
