@import '../../../assets/styles/general.css';

.text-purple {
  color: var(--angular-color-purple);
}

.text-lorange {
  color: var(--liberty-orange);
}
.text-lred {
  color: var(--liberty-red);
}
.text-lgrey {
  color: var(--liberty-grey);
}

.btn-purple {
  background-color: var(--angular-color-purple);
}.btn-purple:hover{
  background-color: var(--btn-default);
}

hr {
  width: 100%;
}

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }
  
.main {
    
  background-color:#E6E6E6!important;
  height: 100vh;
  
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px){
  .login-container{
      margin: 25px 0 25px 0;
      
  }
}