<div class="d-flex flex-column flex-md-row justify-content-center align-items-center text-center p-2 px-md-4 mb-3">
    <img class="mr-2" width="20" src="../../../../assets/img/Logo final.png" alt="LLA">
    <h5 class="my-0 mr-md-auto font">Portal Clientes <i class="fas fa-user-tie text-secondary"></i></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark" [routerLink]="['/home']">Home</a> -->
      <!-- <a class="p-2 text-dark" [routerLink]="['/ofertas']">Ofertas</a> -->
    </nav>
    <button type="button" class="btn btn-sm btn-link font" (click)="closeSession()">Cerrar sesión <i class="fas fa-sign-out-alt"></i></button>

</div>
