
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text text-purple"><i class="fas fa-angle-down mr-1"></i> Listado</span>
    </div>
    <select #test class="form-control text-secondary" (change)="onChangeProyecto($event)">
        <option value="" disabled selected>Seleccione un cliente</option>
        <option *ngFor="let proyecto of proyectos" value="{{proyecto | json}}">{{proyecto.nombre_empresa}} - LOC{{proyecto.loc}} - {{proyecto.datacenter}}</option>    
    </select>
</div>