<div class="main-detalle mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <p class="nav-link active">Información del usuario</p>
        </li>
    </ul>
    <div class="detalle-container d-flex">
        <div class="foto-container d-flex align-items-center justify-content-center">
            <img *ngIf="usuario === '' || usuario.foto === null" class="rounded user-img" src="../../../../assets/unknown.jpg" alt="UNKNOWN">
            <img *ngIf="usuario !== '' && usuario.foto !== null" class="rounded user-img" src="{{usuario.foto}}" alt="Error" onerror="this.onerror!=null;this.src='../../../../assets/unknown.jpg';">
        </div>
        <div class="info-container">
            <div class="fila m-1 text-center">
                <h6 class="card-title">Nombre y Apellido</h6>
                <h6 *ngIf="usuario === ''" class="card-subtitle mb-2 text-muted">-</h6>
                <h6 *ngIf="usuario !== ''" class="card-subtitle mb-2 text-muted">{{usuario.nombre | titlecase}} {{usuario.apellido | titlecase}}</h6>
            </div>
            <div class="fila m-1 text-center">
                <h6 class="card-title">Cédula</h6>
                <h6 *ngIf="usuario === ''" class="card-subtitle mb-2 text-muted">-</h6>
                <h6 *ngIf="usuario !== ''" class="card-subtitle mb-2 text-muted">{{usuario.cedula | uppercase}}</h6>
            </div>
            <div class="fila m-1 text-center">
                <h6 class="card-title">Nombre de usuario</h6>
                <h6 *ngIf="usuario === ''" class="card-subtitle mb-2 text-muted">-</h6>
                <h6 *ngIf="usuario !== ''" class="card-subtitle mb-2 text-muted">{{usuario.username}}</h6>
            </div>
            <!-- BOTONES  -->
            <div class="container-opciones">
                <div class="container-titulo-opciones">
                    <small class="text-muted cuenta-title">Estado de la cuenta: </small>
                    <small *ngIf="usuario === ''" class="text-muted">-</small>
                    <small *ngIf="usuario.activo === 1" class="text-success"><b>Activa</b><i class="fas fa-check ml-2"></i></small>
                    <small *ngIf="usuario.activo === 0" class="text-warning ml-1"><b>Inactiva</b><i class="fas fa-times ml-2"></i></small>
                    <small *ngIf="usuario.bloqueada === 1" class="text-danger ml-1"><b>Bloqueada</b><i class="fas fa-check ml-2"></i></small>
                </div>
                <div class="container-botones-opciones d-flex align-items-center justify-content-center flex-wrap">
                    <button *ngIf="usuario === ''" type="button" class="btn btn-sm btn-light btn-opcion m-1 p-2" disabled> </button>
                    <button (click)="btnBloquear()" *ngIf="usuario.bloqueada === 0" type="button" class="btn btn-sm btn-danger btn-opcion m-1 p-2">Bloquear<i class="fas fa-user-lock ml-1"></i></button>
                    <button (click)="btnDesbloquear()" *ngIf="usuario.bloqueada === 1" type="button" class="btn btn-sm btn-info btn-opcion m-1 p-2">Desbloquear<i class="fas fa-unlock-alt ml-1"></i></button>
                    <button (click)="btnDesactivar()" *ngIf="usuario.activo === 1" type="button" class="btn btn-sm btn-warning btn-opcion m-1 p-2">Desactivar<i class="fas fa-times ml-2"></i></button>
                    <button (click)="btnActivar()" *ngIf="usuario.activo === 0" type="button" class="btn btn-sm btn-success btn-opcion m-1 p-2">Activar<i class="fas fa-check ml-2"></i></button>
                </div>
            </div>
            <div class="container-password">
                <div class="container-titulo-opciones">
                    <small class="text-muted cuenta-title">Cambiar contraseña de usuario: </small>
                    <!-- <small class="text-success"><b>Activa</b><i class="fas fa-check ml-2"></i></small> -->
                </div>
                <div class="container-titulo-opciones input-group mb-3 d-flex justify-content-center pt-2">
                    <div class="form-group col-11">
                        <form [formGroup]="form">
                            <div *ngIf="form.controls['password'].errors?.required && form.controls['password'].touched" class="form-control-feedback small text-danger text-center mx-3">
                                Campo requerido.
                            </div>
                            <div *ngIf="form.controls['password'].errors?.minlength" class="form-control-feedback small text-danger text-center mx-3">
                                Mínimo 8 caracteres.
                            </div>
                            <div *ngIf="form.controls['password'].errors?.maxlength" class="form-control-feedback small text-danger text-center mx-3">
                                Máximo 20 caracteres.
                            </div>
                            <input type="password" class="form-control form-control-sm small-input" formControlName="password" placeholder="Nueva contraseña" autocomplete="on" maxlength="20">
                            <div *ngIf="form.controls['re_password'].errors?.required && form.controls['re_password'].touched" class="form-control-feedback small text-danger text-center mx-3">
                                Campo requerido.
                            </div>
                            <div *ngIf="form.controls['re_password'].errors?.minlength" class="form-control-feedback small text-danger text-center mx-3">
                                Mínimo 8 caracteres.
                            </div>
                            <div *ngIf="form.controls['re_password'].errors?.maxlength" class="form-control-feedback small text-danger text-center mx-3">
                                Máximo 20 caracteres.
                            </div>
                            <input type="password" class="form-control form-control-sm small-input" formControlName="re_password" placeholder="Repetir contraseña" autocomplete="on" maxlength="20">
                            <button [disabled]="!form.valid" type="button" (click)="onSubmit()" class="btn btn-sm btn-purple btn-block m-1">Cambiar contraseña</button>
                             <!-- SPINNER -->
                             <div class="col-12 d-flex align-items-center justify-content-center">
                                <div [hidden]="showSpinner === false" class="spinner-border text-purple p-2  m-3" role="status">
                                    <span class="sr-only">Enviando...</span>
                                </div>
                            </div>
                            <div *ngIf="form.getError('equalValues') as error" class="text-danger text-center form-control-feedback m-2">
                                Las contraseñas deben ser iguales.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-backenderrors [events]="eventError.asObservable()"></app-backenderrors>