@import '../../../assets/styles/general.css';

.text-purple {
    color: var(--angular-color-purple);
}

.btn-purple2 {
    background-color: var(--angular-color-purple);
    border: 1px solid var(--angular-color-purple);
}.btn-purple2:hover {
    color: var(--angular-color-purple)!important;
    background-color: #fff;
}

.form-border {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
  }