<div class="row" [hidden]="esconderBusqueda">
    <div class="col-md-12 card p-2">
        <app-busqueda (emitirProyecto)="getProyecto($event)"></app-busqueda>
    </div>
</div>

<div class="row">
    <div class="col-md-12 p-1">
        <app-opciones (emitirOpciones)="getOpciones($event)"></app-opciones>

    </div>
</div>

<div class="row">
    <div [hidden]="!esconderDetalle" class="col-md-12 card p-2">
        <app-listado (emitirDetalleAcceso)="getDetallesAcceso($event)" [events]="eventSubject.asObservable()"
         [opciones]="eventOpciones.asObservable()" ></app-listado>
    </div>
    <div [hidden]="esconderDetalle" class="card opacidad-fuerte col-md-12 p-2">
        <app-detalle [events]="eventDetalleAcceso.asObservable()" ></app-detalle>
    </div>
</div>
