<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text text-info"><i class="fas fa-search mr-1"></i> Busqueda</span>
            </div>
            <input type="text" class="form-control" placeholder="Busqueda por nombre, cédula o compañía" aria-label="Busqueda" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text text-info"><i class="fas fa-angle-down mr-1"></i> Listado</span>
            </div>
            <select class="form-control text-secondary" (change)="onChangeProyecto($event)">
                <option value="" disabled>Seleccione un cliente</option>
                <option *ngFor="let proyecto of proyectos" value="{{proyecto | json}}">{{proyecto.nombre_empresa}} - LOC{{proyecto.loc}} - {{proyecto.datacenter}}</option>    
            </select>
        </div>
    </div>
</div>

<!-- <hr> -->

<!-- <div class="row">
    <div class="col-md-6">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
            <label class="form-check-label text-secondary" for="inlineRadio1">Accesos aprobados <i class="fas fa-user-check"></i></label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label text-secondary" for="inlineRadio2">Accesos pendientes <i class="fas fa-user-clock"></i></label>
          </div>
    </div>

    <div class="col-md-6">
        <div class="d-flex justify-content-end">

            <button type="button" class="btn btn-warning btn-sm rounded text-light">Solicitar acceso</button>
        </div>
    </div>
</div> -->
