<div class="row">
    <!-- <div class="col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text text-info"><i class="fas fa-search mr-1"></i> Busqueda</span>
            </div>
            <input type="text" class="form-control" placeholder="Busqueda por nombre, cédula o compañía" aria-label="Busqueda" aria-describedby="basic-addon1">
        </div>
    </div> -->
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text text-purple"><i class="fas fa-angle-down mr-1"></i> Listado</span>
            </div>
            <select #test class="form-control text-secondary" (change)="onChangeProyecto($event)">
                <option value="" disabled selected>Seleccione un cliente</option>
                <option *ngFor="let proyecto of proyectos" value="{{proyecto | json}}">{{proyecto.nombre_empresa}} - LOC{{proyecto.loc}} - {{proyecto.datacenter}}</option>    
            </select>
        </div>
    </div>
</div>
