<div class="row">
    <div class="col-12">
        <p class="lead m-0">Control de cuentas de usuarios.</p>
        <small class="">Utilice la busqueda para encontrar cuentas registradas en el portal de clientes.</small>
    </div>
    <div class="col-12 mt-2">
        <!-- Search form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline md-form form-sm active-purple-2">
            <input formControlName="search" class="form-control form-control-sm w-75" type="text" placeholder="Busqueda por nombre, cédula o compañia" aria-label="Busqueda por nombre, cédula o compañia" mdbInput>
            <!-- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
            <button type="submit" class="form-control form-control-sm w-25"><i class="fas fa-search"></i> Buscar</button>
        </form>
    </div>

    <div class="col-12 mt-2">
        <app-lista-usuarios [events]="eventUsuarios.asObservable()"></app-lista-usuarios>
    </div>
</div>

