@import '../../../assets/styles/general.css';

.text-purple {
    color: var(--angular-color-purple);
}

.btn-purple {
    color: #fff;
    background-color: var(--btn-default);
}.btn-purple:active {
    background-color: var(--angular-color-purple);
}.btn-purple:hover{
    background-color: var(--btn-hover);
}.btn-purple:disabled {
    color: #A4A4A4;
    background-color: #F2F2F2;
}
    
.active-purple-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid var(--angular-color-purple);
    box-shadow: 0 1px 0 0 var(--angular-color-purple);
}
    
.active-purple input[type=text] {
    border-bottom: 1px solid var(--angular-color-purple);
    box-shadow: 0 1px 0 0 var(--angular-color-purple);
}
    
.active-purple .fa,
.active-purple-2 .fa {
    color: var(--angular-color-purple);
}
