<div class="row">
    <div class="col-12">
        <p class="lead m-0">Control de cuentas de usuarios.</p>
        <small class="">Utilice la busqueda para encontrar cuentas registradas en el portal de clientes.</small>
    </div>
    <div class="col-12 mt-2">
        <!-- Search form -->
        <form class="form-inline md-form form-sm active-purple-2">
            <input class="form-control form-control-sm mr-3 w-100" type="text" placeholder="Search" aria-label="Search"
            mdbInput>
            <!-- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
        </form>
    </div>
</div>

