<div class="card">
    <div class="body-container-qr" #screen>
        <div class="container-qr-info mt-3">
            <h4 class="m-0 mb-2 font-weight-bold">Bienvenido</h4>
            <h4 class="m-0 lead">{{nombre}}</h4>
            <h4 class="m-0 lead">{{cedula}}</h4>
        </div>
        <div class="container-qr-img">
            <img src="{{qrcode}}" alt="QR Code">
        </div> 
    </div>
    <button (click)="downloadImage(nombre, cedula)" class="btn btn-sm btn-block text-light btn-descargar-qr"><i class="fas fa-file-download"></i> Descargar QR</button>
    <!-- ESTO ES PARA LA DESCARGA DEL QR -->
    <div [hidden]="true" id="download">
        <img #canvas>
        <a #downloadLink></a>
    </div>
</div>
