@import '../../../assets/styles/general.css';

.div-bg {
  background-color: var(--div-background);
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.text-purple {
  color: var(--angular-color-purple);
}

/* TABLA */
table {
  width: 100%;
}
  
.mat-form-field {
  font-size: 1rem;
  width: 100%;
}
  
td, th {
  font-size: 0.75rem!important
}