<div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <div class="jumbotron bgnone">
                <h1 class="text-center mb-4 purple-font">Portal web IDC Liberty Latin America.</h1>
                <p class="lead">Bienvenido al portal de clientes de los centros de datos de Liberty Latin America.</p>
                <p class="text-muted">Puede realizar consultas sobre sus <a href="http://">accesos</a> e <a href="http://">historial de visitas</a> desde esta plataforma.</p>
                <div class="d-flex p-1">
                    <a class="btn purple-btn m-1 text-light" href="#" role="button">Ver terminos de uso &raquo;</a>
                    <a class="btn btn-secondary m-1" href="#" role="button">Ver politica de conducta &raquo;</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex">

            <div class="card m-3 bgnone" style="width: 22rem;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fas fa-door-open purple-font my-4 display-4"></i>
                    <h3 class="card-title mb-2 text-secondary">Accesos</h3>
                    <p class="card-text text-center m-3">Cosulte el estado de los accesos solicitados para ingreso de personal a los centros de datos LLA.</p>
                    <a [routerLink]="['/access']" routerLinkActive="router-link-active"  class="purple-btn p-3 text-light rounded-circle">Ver</a>
                </div>
            </div>

            <div class="card m-3 bgnone" style="width: 22rem;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fas fa-book purple-font my-4 display-4"></i>
                    <h3 class="card-title mb-2 text-secondary">Historial de visitas</h3>
                    <p class="card-text text-center m-3">Revise el historial del personal que ha ingresado al proyecto EMPRESA en los centros de datos.</p>
                    <a [routerLink]="['/bitacora']" class="purple-btn p-3 text-light rounded-circle">Ver</a>
                </div>
            </div>

            <div class="card m-3 bgnone" style="width: 22rem;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <i class="fas fa-address-book purple-font my-4 display-4"></i>
                    <h3 class="card-title mb-2 text-secondary text-center">Matriz de comunicación</h3>
                    <p class="card-text text-center m-3">Verifique y cree los permisos del personal sobre la matriz de comunicación de su proyecto.</p>
                    <a [routerLink]="['/mdc']" class="purple-btn p-3 text-light rounded-circle">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>
