<div class="form-container d-flex flex-column justify-content-center align-items-center">
    <h4 class="lead">Preguntas de seguridad.</h4>
    <p class="text-muted text-center">Selecciona tres preguntas de seguridad. Estas preguntas nos ayudarán a verificar tu identidad.</p>
    <div class="form-container d-flex flex-column justify-content-center align-items-center">
        <form class="form-group" [formGroup]="formpreguntas" (ngSubmit)="onSubmit()">
            Has esta baina con bootstrap.. ya basta
        </form>
    </div>
</div>