@import '../../../../assets/styles/general.css';

.text-purple {
    color: var(--angular-color-purple);
}

.btn-purple {
    background-color: var(--angular-color-purple);
    max-width: 400px;
  }.btn-purple:hover{
    background-color: var(--btn-default);
  }.btn-purple:disabled {
      background-color: none;
}

.container {
  width: 100%;
  height: 100%;
}

.form-container {
  width: 100%;
  height: 100%;
}

hr {
    width: 50%;
}