<div class="container">
    <div class="form-container d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <div class="col-12">
                <h3 class="lead text-center text-purple"><i class="far fa-clipboard"></i><b> Preguntas de seguridad.</b></h3>
                <p class="text-muted text-center">Selecciona tres preguntas de seguridad. Estas preguntas nos ayudarán a verificar tu identidad.</p> 
                <hr>
            </div>
        </div>
        <form [formGroup]="formpreguntas" (ngSubmit)="onSubmit()" class="form-group">
            <!-- PREGUNTA 1  -->
            <form [formGroup]="formpreguntas">
                <div formGroupName="preguntaForm" class="row mt-2">
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <label class="text-purple">Pregunta de seguridad</label>
                    </div>
                    <div class="col-md-4">
                        <select class="custom-select d-block w-100" formControlName="pregunta" required>
                            <option value="" disabled selected>Seleccione una pregunta de la lista...</option>
                            <option *ngFor="let pregunta of spreguntas" value="{{pregunta.idpoolsq}}">{{pregunta.descripcion }}</option>
                        </select>
                    </div>
        
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <label class="text-secondary">Respuesta</label>
                     </div>
                    <div class="col-md-4">
                        <input class="form-control form-control-sm" type="text" formControlName="respuesta" placeholder="Respuesta">
                    </div>
                </div>
            </form>
             <!-- PREGUNTA 2  -->
             <form [formGroup]="formpreguntas">
                <div formGroupName="preguntaForm2" class="row mt-2">
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <label class="text-purple">Pregunta de seguridad</label>
                    </div>
                    <div class="col-md-4">
                        <select class="custom-select d-block w-100" formControlName="pregunta" required>
                            <option value="" disabled selected>Seleccione una pregunta de la lista...</option>
                            <option *ngFor="let pregunta of spreguntas" value="{{pregunta.idpoolsq}}">{{pregunta.descripcion }}</option>
                        </select>
                    </div>
        
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <label class="text-secondary">Respuesta</label>
                     </div>
                    <div class="col-md-4">
                        <input class="form-control form-control-sm" type="text" formControlName="respuesta" placeholder="Respuesta">
                    </div>
                </div>
            </form>
             <!-- PREGUNTA 3  -->
             <form [formGroup]="formpreguntas">
                <div formGroupName="preguntaForm3" class="row mt-2">
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <label class="text-purple">Pregunta de seguridad</label>
                    </div>
                    <div class="col-md-4">
                        <select class="custom-select d-block w-100" formControlName="pregunta" required>
                            <option value="" disabled selected>Seleccione una pregunta de la lista...</option>
                            <option *ngFor="let pregunta of spreguntas" value="{{pregunta.idpoolsq}}">{{pregunta.descripcion }}</option>
                        </select>
                    </div>
        
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <label class="text-secondary">Respuesta</label>
                     </div>
                    <div class="col-md-4">
                        <input class="form-control form-control-sm" type="text" formControlName="respuesta" placeholder="Respuesta">
                    </div>
                    
                </div>
            </form>
        
            <div class="row m-4">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <!-- SPINNER -->
                    <div [hidden]="!showSpinner" class="text-center m-2">
                        <p class="small text-secondary">Redireccionando a <a href="" (click)="authService.logOut()">inicio de sesión</a> en... <b class="text-purple">{{counter}}</b></p>
                        <div [hidden]="!showSpinner" class="spinner-border text-purple" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <button (click)="onSubmit()" [hidden]="showSpinner===true" [disabled]="showSpinner===true" type="button" class="btn btn-block btn-sm btn-purple text-light mt-3">Continuar</button>
                </div>
            </div>
        </form>
    </div>
    
</div>

