<div class="row">
    <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center">
            <img class="rounded img-thumbnail" src="{{acceso.foto}}" alt="Error" onerror="this.onerror!=null;this.src='../../../../assets/unknown.jpg';">

        </div>

        <div class="card">
            <div class="card-body">
                <h6 class="mb-1 text-secondary lead text-center"><i class="fas fa-calendar-day"></i> Fecha DD/MM/YYYY</h6>

                <div class="row">
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.fecha_solicitud | date: 'dd/MM/yyyy'}}</h6>
                            <small class='text-info'>Solicitado </small>
                        </div>
                    </div>
    
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.fecha_expiracion | date: 'dd/MM/yyyy'}}</h6>
                            <small class='text-info'>Expiración</small>
                        </div>
                    </div>
                </div>
                <hr class="m-1">
                <div class="row">
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 *ngIf="acceso.estado=='Aprobado' || acceso.estado=='aprobado'" class='my-1 text-success text-center'>{{acceso.estado | titlecase }} <i class="fas fa-check"></i></h6>
                            <h6 *ngIf="acceso.estado=='Solicitado' || acceso.estado=='solicitado'" class='my-1 text-warning text-center'>{{acceso.estado | titlecase }} <i class="far fa-clock"></i></h6>
                            <h6 *ngIf="acceso.estado=='Expirado' || acceso.estado=='expirado'" class='my-1 text-danger text-center'>{{acceso.estado | titlecase }} <i class="fas fa-times"></i></h6>
                            <small class='text-info'>Estado</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                QR CODE
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-1 lead"><i class="fas fa-male"></i><i class="fas fa-female"></i> Información personal</h5>

                <div class="row">
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.nombre_visitante | titlecase }} </h6>
                            <!-- <small class='text-light badge badge-info badge-pill'>Nombre y apellido <i class="fas fa-user-tie"></i></small> -->
                            <small class='text-info'>Nombre y apellido <i class="fas fa-user-tie"></i></small>
                        </div>
                    </div>
    
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.cedula_visitante | uppercase}}</h6>
                            <small class='text-info'>Cédula / pasaporte <i class="fas fa-passport"></i></small>
                        </div>
                    </div>
                </div>

                <hr class="m-2">

                <div class="row">
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.empleado_visitante | titlecase}}.</h6>
                            <small class='text-info'>Empleado de <i class="fas fa-toolbox"></i></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="mb-1 lead"><i class="fas fa-industry"></i> Datacenter</h5>

                <div class="row">
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.viceprecidencia_ejecutiva}} </h6>
                            <small class='text-info'>Acceso al centro de datos de... </small>
                        </div>
                    </div>
    
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-danger text-center'>{{acceso.compania_visitante | uppercase}}</h6>
                            <small class='text-dark badge badge-warning '>Esta persona tiene acceso a... </small>
                        </div>
                    </div>
                </div>

                <hr class="m-2">

                <div class="row">
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.tipo_visitante | titlecase}}</h6>
                            <small class='text-info'>Tipo de visitante</small>
                        </div>
                    </div>
                    <div class='col-6'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h6 class='my-1 text-muted text-center'>{{acceso.motivo_solicitud | titlecase}}</h6>
                            <small class='text-info'>Motivo</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="mb-1 lead"><i class="fas fa-clipboard"></i> Notas</h5>

                <div class="row">
                    <div class='col-12'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center">{{acceso.notas}}</p>
                        </div>
                    </div>
                    <div class='col-12 my-2'>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <small class='text-info'>Detalles sobre el acceso solicitado </small>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        
    </div>

</div>
