@import '../../../../assets/styles/general.css';

.opacidad-suave {
    background-color: var(--card-rgba-suave);
}

.opacidad-media {
    background-color: var(--card-rgba-media);
}
.div-ver-qr {
    cursor: pointer;
}.div-ver-qr:hover {
    background-color: var(--card-rgba-fuerte)
}

.bgred {
    background-color: red;
}

.btn-qr {
    font-size: .9rem;
}

/* 
.body-container-qr{
    display: flex;
    background-image: url('../../../../assets/img/QR_base.PNG');
    background-color: gray;
    margin-top: 2%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid green;
}

.container-qr-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8970a8;
    width: 55%;
    height: auto;
    font-size: 1rem;
    padding-top: 15px;
    border: 1px solid red;
    background-color: goldenrod;
}

.container-qr-img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10% 0;
    width: 45%;
    height: 100%;
    border: 1px solid blue;
    background-color: indigo;
}.container-qr-img img{
    margin-left: 3%;
    width: 82%;
}

.btn-descargar-qr{
    background-color: #8970a8;
}.btn-descargar-qr:hover{
    background-color: #9B8CAE;
} */
