<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white">
    <h5 class="my-0 mr-md-auto font-weight-normal"><img class="mb-1" width="20" src="../../../../assets/img/Logo final.png" alt="LLA"> Administración</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark" [routerLink]="['/home']">Home</a> -->
      <!-- <a class="p-2 text-dark" [routerLink]="['/ofertas']">Ofertas</a> -->
    </nav>
    <!-- <div *ngIf="!authService.isLogedIn()" class="d-flex flex-column">
        <p align='center' class='m-0'>Sesión no iniciada</p>
        <p align='center' class='m-0'>[ <a [routerLink]="['/forms/login']" TARGET='_top'>Iniciar sesión</a> ]</p>
    </div>
    <div *ngIf="authService.isLogedIn()" class="d-flex flex-column">
      <button type="button" class="btn btn-sm btn-link" (click)="closeSession()">Cerrar sesión</button>
    </div> -->
    <button type="button" class="btn btn-sm btn-link" (click)="closeSession()">Cerrar sesión</button>

</div>