
.users-container {
    background-color: #F2F2F2;
}

.btn-estado {
  background-color: #fff;
  border: none;
}

/* TABLA */
table {
    width: 100%;
  }
    
  .mat-form-field {
    font-size: 1rem;
    width: 100%;
  }
    
  td, th {
    font-size: 0.75rem!important
  }