<div class="users-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <p class="nav-link active">Cuentas de usuario</p>
        </li>
    </ul>
    <div class="mt-2 mb-3">
        <!-- <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda" #input>
        </mat-form-field> -->
        <div class="mat-elevation-z8 p-1">
            <table mat-table [dataSource]="dataSource" matSort >

              <!-- Index -->
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td width="50" mat-cell *matCellDef="let row; let i = index"><b class="text-purple">{{i+1}}</b> </td>
              </ng-container>
          
              <!-- Nombre -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
              </ng-container>

              <!-- Apellido -->
              <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                <td mat-cell *matCellDef="let row"> {{row.apellido}}</td>
              </ng-container>
          
              <!-- Username -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Usernmame</th>
                <td mat-cell *matCellDef="let row" class="text-primary"> {{row.username}}</td>
              </ng-container>

              <!-- Cédula -->
              <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cédula</th>
                <td mat-cell *matCellDef="let row"> {{row.cedula}}</td>
              </ng-container>

              <!-- CreatedAt -->
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creada (yyyy-MM-dd)</th>
                <td mat-cell *matCellDef="let row" class="h6"> {{row.createdAt | date:'yyyy-MM-dd'}}</td>
              </ng-container>

               <!-- Activo -->
               <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <ng-container *matCellDef="let row">
                  <td mat-cell *ngIf="row.activo === 1" class="text-success"><b>Habilitada</b></td>
                  <td mat-cell *ngIf="row.activo === 0" class="text-danger"><b>Deshabilitada</b></td>
                </ng-container>
              </ng-container>

             <!-- CreatedAt -->
             <ng-container matColumnDef="idusuario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
              <td mat-cell *matCellDef="let row" class="h6">
                 <!-- {{row.idusuario}} -->
                 <button type="button" class="btn btn-sm btn-info" (click)="editUser(row.idusuario)"><i class="fas fa-user-edit"></i></button>
              </td>
            </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <!-- <tr class="mat-row" *matNoDataRow> FUNCIONA SOLO EN ANGULAR 10+
                <td class="mat-cell text-center" colspan="8">No hay resultados para mostrar "{{input.value}}"</td>
              </tr> -->
            </table>
          
            <mat-paginator [pageSize]="15" [pageSizeOptions]="[5, 15, 25, 100]"></mat-paginator>
          </div>
    </div>
</div>