<div class="row mx-1">
    <div class="div-bg container-fluid p-3 rounded">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="m-2" width="50" src="../../../../assets/img/Logo final.png" alt="LLA">
            <h4 class="card-title text-purple text-center">Portal de Clientes</h4>

        </div>
        <hr>
        <p class="mb-2 text-secondary text-center">Sitio web para administración de accesos a los centos de datos LLA.</p>
        <div class="d-flex flex-column justify-content-center align-items-center p-2">
            <small class="mb-2">Menú</small>
            <a class="btn btn-purple btn-block btn-sm" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
            <a class="btn btn-purple btn-block btn-sm" [routerLink]="['/access']" routerLinkActive="router-link-active" >Accesos</a>
            <a class="btn btn-purple btn-block btn-sm" [routerLink]="['/bitacora']" routerLinkActive="router-link-active" >H. Visitas</a>
        </div>
    </div>
</div>
