<div class="cold-12">
  <p class="lead text-purple text-center mt-2"><i class="fas fa-chalkboard"></i> Dahsboard principal - Módulos disponibles</p>
  <!-- <hr> -->
</div>

<div class="card-columns mt-0">

  <div class="card border border-light m-0">
    <div class="card-body">
      <h5 class="card-title text-purple"><i class="fas fa-male mr-1"></i><i class="fas fa-female"></i> Accesos</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <hr>
      <a [routerLink]="['/admin/access']" routerLinkActive="router-link-active"  class="btn btn-purple btn-sm btn-block">Ir a accesos</a>
    </div>
  </div>

  <div class="card border border-light m-0">
    <div class="card-body">
      <h5 class="card-title text-purple"><i class="fas fa-qrcode"></i> Códigos QR</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <hr>
      <a [routerLink]="['/admin/access']" routerLinkActive="router-link-active"  class="btn btn-purple btn-sm btn-block">Ir a QR</a>
    </div>
  </div>

   
</div>