::ng-deep :root {
    --card-rgba-suave: rgba(255, 255, 255, .7);
    --card-rgba-media: rgba(255, 255, 255, .4);
    --card-rgba-fuerte: rgba(255, 255, 255, .2);

    --div-background: #f2f2f2;
    --angular-color-purple: #673ab7;
    --cwb-color-purple: #8970a8;
    
    --btn-default: #8d4dff;
    --btn-hover: #7f48e0;

    --liberty-red: #e63a2d;
    --liberty-orange: #e86404;
    --liberty-grey: #636464;

    
}