@import '../../../../assets/styles/general.css';

.text-purple {
    color: var(--angular-color-purple);
}

.icon-logo {
    font-size: 2rem;
    color:#86B404;
}

.font-size-max{
    font-size: 1.1rem;
}

.font-size-badge {
    font-size: .8rem;
}

.total-votos {
    color: #FF4000;
}