<div class="container">
    <h5 class="d-flex justify-content-between align-items-center mt-2">
        <span class="text-muted"><i class="fas fa-flag"></i> Total de cuentas</span>
        <span class='badge badge-success badge-pill font-size-max'>15</span>
    </h5>
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Total</h6>
                <small class="text-muted">Total de cuentas activas en el portal IDC.</small>
            </div>
            <span class='total-votos text-center'>14</span>
        </li>
    </ul>

    <div class="py-1">
        <i class="fas fa-book d-block mx-auto mb-2 text-center icon-logo"></i>
        <h5 class="text-center m-0">Panel de Administración</h5>
        <hr>
        <!-- <p class="lead text-justify">A continuación se listan los reportes de las encuestas, basadas en los datos recopilados por los participantes.</p> -->
        <p class="text-justify m-0">Los reportes muestran los resultados de las encuestas anónimas registradas en la base de datos. Los datos representan al total de votos registrados por categoría, las categoías de los reportes son:</p>
        <ul>
            <li>Reporte de votos por sexo.</li>
            <li>Reporte de votos por edad.</li>
            <li>Reporte de votos por rango salarial.</li>
            <li>Reporte de votos por provincia.</li>
        </ul>
    </div>
</div>